
body {
   background-color: whitesmoke;
   margin: 0;
}

/*#nav {
	background-color: whitesmoke;
	height: 30px;
	padding-left: 45px;
	padding-right: 40px;
	padding-top: 8px;
}



#nav span {
	float: right;
}*/

a {
	color: black;
}
.left-nav {
	display: inline-block;
    background-color: #D46F70;
    width: 250px;
    height: 100%;
    margin-top: 0.5px;
}

.page-view {
	display: inline-block;
	vertical-align: top;
	width: 75%;
	margin-left: 20px;
    margin-top: 20px;  
}