#login-nav {
	background-color: black;
	width: 100%;
	height: 40px;
	color: white;
	padding-top: 5px;
	padding-left: 10px;
}

#login {
	display: inline-block;
	width: 400px;
	vertical-align: top;
    margin: 50px;
}


#signup {
   display: inline-block;
   width: 400px;
   margin: 50px;
}
#logo {
	display: inline;
}


/*#login-section input {
	width: 100px;
	background-color: transparent;
	border:none;
}*/

#login-page {
	width: 25%;
    margin-top: 120px;
}