#registries {
	/*background-color: blue;*/
	width: 60%;
    vertical-align: top;
}

/*input[type=checkbox] {
    opacity: inherit;
}*/

#rtitle {
	font-size: 25px;
}

.registry {
	width: 100%;
    background-color: whitesmoke;
    border: 1 px black;
    border: 1px solid lightgrey;
    margin: 5px;
    padding: 10px;
    padding-left: 20px;
    font-size: 18px;
    border-radius: 5px;
}

#registries table {
    width: 100%;
}

#registries {
    display: inline-block;
}

#new-registry {
    display: inline-block;
    margin: 100px;
    border: 1px solid black;
    padding: 30px;
    padding-bottom: 10px;
    border-radius: 10px;
}

#new-registry input {
    width: 100px;
}

.rname {
	display: inline-block
}

.rpublic {
    display: inline-block; 
    float: right;
}

#list-registry {
	margin-top: 25px;
}

#user-list {
    margin-left: 30px;
}

