<!-- <p>
	Name llkhnkb: <input type="text" ng-model="username">
	Password : <input type="text" ng-model="password">
 
    <button ng-click="login()"> Login </button>

</p>
 -->

<div id="login-nav">
    <div id="logo"> GiftAway </div>   

</div>


<div id = "login"> 
	<div>Sign In</div>
    Username <input  ng-model = "username" type="text" name=""></input>
    Password <input  ng-model = "password" type="text" name=""></input>

    <button ng-click = login() > Login </button>

</div>

<div id = "signup">
	<div>Register</div>
    Username <input  ng-model = "regUsername" type="text" name=""></input>
    Emailid <input   ng-model = "regEmail" type="text" name=""></input>  
    Password <input  ng-model = "regPassword" type="text" name=""></input>

    <button ng-click = registerUser() > Signup </button>
</div>