<div  ng-include="'templates/top-nav.html'"></div>
        <div  class="left-nav" ng-include="'templates/side-nav.html'"></div>


<div class="page-view" >
<div id = registries>
            <div>
               <div id="rtitle"> 
                   <span>  My Registries </span>
                   <button class="waves-effect waves-light btn" style="float:right" > New  </button>

               </div> 

                <table class="bordered">
                    <thead>
                        <tr>
                        <th> Name </th>
                        <th> Num of items </th>
                        <th> Access </th>
                        <th> View/Edit </th>
                        </tr>
                    </thead>
                    <tr  ng-repeat="(key, registry) in myRegistries" >
                        
                        <td> {{registry.details.name}}  </td>
                        <td>  
                           {{registry.details.num_items}}
                        </td>
                        <td>
                        <span> {{ (registry.details.public) ? "Public" : "Private"}} </span>
                        </td> 
                        <td> <a href = "#registryDetails/{{registry.details.id}}"> View </a></td>
                          
                    </tr>

                </div>

            </div>

</div>
</div>