<div id="modal3" class="modal">
    <div class="modal-content">
          <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      
      
    </form>
  </div>
    </div>
    <div class="modal-footer">
      <a href class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>






<!-- <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      
      </div>
    </form>
  </div>
         -->
        

               <!-- <div>Name: <input ng-model = "newregistry.name" type="text"> </input></div>

               <div> Public
               
               <input ng-model = "newregistry.public" value = "True" name="public" type="radio" id="public-yes" />
               <label for="public-yes">Yes</label>

               <input ng-model = "newregistry.public" name="public" value = "False" type="radio" id="public-no" />
               <label for="public-no">No</label>
               </div>

               <div ng-show="newregistry.public == 'False'">
                     <div id="user-list">
                        Give access to:

                        <div class="user" ng-repeat="(key, user) in users">
                           
                               <label> 
                                {{user.username}}           
                                <input ng-model = "user.isSelected" style="opacity: inherit;pointer-events: all;" type="checkbox">

                              </label>     

                        </div>
                     </div>

                    <!--  <select>
                        User
                        <option ng-repeat="(key, user) in users">{{user.username}}</option>
                     </select> -->
                     <!-- <ul id='dropdown1' class='dropdown-content'>
                          <li ng-repeat="(key, user) in myRegistries"> {{user.username}} </li>
                     </ul>  -->
               <!-- </div>

               <div><button ng-click= "addNewRegistry()">Add new</button></div>
         --> 