<div  ng-include="'templates/top-nav.html'"></div>
        <div  class="left-nav" ng-include="'templates/side-nav.html'"></div>


<div class="page-view" >

<div class = "registry">
   
    <div class="rname">
        {{registry.name}}  
        <span class="new badge" data-badge-caption="items">{{registry.num_items}}</span>
    </div>
    <div class="rpublic">
    <span style="float:right"> {{ (registry.public) ? "Public" : "Private"}} </span>
    </div> 
    <div class="rpublic">
    <span style="float:right"> <a href = "#addItems/{{registry.id}}"> Add items </a> </span> 
    </div> 

    <table class="bordered">
          <thead>
                <tr>
                <th> Id </th>
                <th> Category </th>
                <th> Item </th>
                <th> colour </th>
                <th> Price </th>
                <th> Remove </th>
                
                </tr>
            </thead>

            <tr ng-repeat="(key, item) in registry.items" >                        
                <td> {{item.id}}  </td>
                <td> {{item.category}} </td>
                <td> {{item.item_name}} </td>          
                <td> {{item.colour}} </td>
                <td> {{item.price}} </td>
                <td> <a href ng-click="removeItem(item.id)">Remove</a> </td>
                
            </tr>
    </table>

</div>

<!-- <div id="item-details">

	<div id="all-items">

   </div>

   <div id="reg-items">

   </div>

</div> -->
</div>