<div id="left-menu">
	
	<div class="section" id="left-menu-item">
        <a href="#myregistries" >My Registries </a>
	</div>
    <div class="divider"></div>
	<div class="section" id="left-menu-item">
		<a href="#myregistries" >Other Registries </a>      
	</div>
    <div class="divider"></div>
	<div class="section" id="left-menu-item">
        <a href="#myregistries" > My Account </a>      
	</div>
    <div class="divider"></div>
	<div class="section" id="left-menu-item">
		<a href="#myregistries" > Logout </a>              
	</div>
    <div class="divider"></div>
</div>