<div id="left-menu">
	
    <div class="divider"></div>
	<div class="section" id="left-menu-item">
        <a href="#myregistries" >My Registries </a>
	</div>
    <div class="divider"></div>
	<div class="section" id="left-menu-item">
		<a href="#otherregistries" >Other Registries </a>      
	</div>
    <div class="divider"></div>
	<div class="section" id="left-menu-item">
        <a href="#myaccount" > My Account </a>      
	</div>
    <div class="divider"></div>
	<div class="section" id="left-menu-item">
		<a  href ng-click="logout()" > Logout </a>              
	</div>
	<div class="divider"></div>
	
</div>